{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

  <nav class="main-nav overlay clearfix">


  </nav>
	
	{{ if .Params.position }}
		<style>.single .post-header {background-position: {{.Params.position}};} </style>
	{{end}}

</header>



<main class="content" role="main">


  <article class="single">

		{{ if .Params.cover }}
		<header class="post-header" style="background-image: url({{.Params.cover}})">
			<div class="flou">
				<h1 class="post-title">{{.Title | markdownify }}</h1>
			</div>
   	 	</header>
		{{ end }}
  
    <section class="post-content">
      {{ .Content }}
    </section>


  <footer class="post-footer">
    
    <section class="partage">
      <h4>Partager</h4>	
	  	<ul>
			<a title="Envoyer cet article par mail" href="mailto:?subject={{.Title | safeHTML }}&amp;body={{.Title | markdownify }} - {{ .Permalink }}"><li>Mail</li></a>
			<a title="Partager cet article sur Twitter" href="https://twitter.com/share?text={{ .Title | safeHTML }}&amp;url={{ .Permalink }}"><li>Twitter</li></a>
			<a title="Partager cet article sur Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><li>Facebook</li></a>
		</ul>
    </section>

   <section class="post-meta">
             <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
               {{ .Date.Format "Jan 2, 2006" }}
             </time>

            {{ range .Params.tags }}
             <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">{{ . }}</a></span>
            {{ end }}
           </section>

  </footer>
</article>

</main>
{{ partial "footer.html" . }}
