{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

  <nav class="main-nav overlay clearfix">


  </nav>
	
	{{ if .Params.position }}
		<style>.single .post-header {background-position: {{.Params.position}};} </style>
	{{end}}

</header>



<main class="content" role="main">


  <article class="single">

		{{ if .Params.cover }}
		<header class="post-header" style="background-image: url({{.Params.cover}})">
			<div class="flou">
				<h1 class="post-title">{{.Title | markdownify }}</h1>
			</div>
   	 	</header>
		{{ end }}
  
    <section class="post-content">
      {{ .Content }}
    </section>


  <footer class="post-footer">
    
    <section class="partage">
 	   {{ partial "partage.html" . }}
      
    </section>

   <section class="post-meta">
	   {{ partial "meta.html" . }}
   </section>

  </footer>
</article>

</main>
{{ partial "footer.html" . }}
