    <footer class="site-footer clearfix">
        <section class="copyright">Publié depuis 2008. Tous droits réservés.</section>
    </footer>
    </div>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/lunr.min.js"></script>
	<script type="text/javascript" src="{{.Site.BaseURL}}js/search.js"></script>

    {{ if .IsPage }}
	    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/bigfoot-default.css" />
		<script type="text/javascript" src="{{.Site.BaseURL}}js/bigfoot.min.js"></script>
		<script type="text/javascript">
		    $.bigfoot({actionOriginalFN: "ignore"});
		</script>
	{{ end }}
	
   {{ if .Params.longitude }}
		{{ partial "map.html" . }}
   {{ end }}
</body>
</html>
