{{ partial "header.html" . }}

<header class="header-site">	
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" rel="home">{{ .Site.Title }}</a>  </h1>
   	<h2 class="site-description">{{ .Site.Params.description }}</h2>
</header>


<main id="content" class="archive" role="main">

    {{ $paginator := .Paginator }}


		{{ range $index, $page := .Paginator.Pages }}
		   	{{ .Render "li-index" }}
		{{ end }}

    {{ partial "pagination.html" $paginator }}

</main>

{{ partial "footer.html" . }}